$container-widths: (
        mobile: 360px,
        mobile--large: 480px,
        tablet: 720px,
        tablet--large: 960px,
        desktop: 1160px,
);
$grid-breakpoints: (
        reset: 0,
        mobile: 424px,
        mobile--large: 544px,
        tablet: 784px,
        tablet--large: 1024px,
        desktop: 1200px,
);

$grid__bp-xs: 424;
$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$map-grid-props: (
        '': 0,
        '-xs': $grid__bp-xs,
        '-sm': $grid__bp-sm,
        '-md': $grid__bp-md,
        '-lg': $grid__bp-lg,
        '-xl': $grid__bp-xl
);

$columns: 12;
$column-gap: 2rem;
$gap: 2rem;