:root {
  --color-error-light: #fceaea;
  --color-error-2: #dc2020;
  --color-error: #fde9ef;
  --color-warning-light: #fdf6e5;
  --color-warning-2: #e9a100;
  --color-warning: #fff9e6;
  --color-success-light: #eaf3eb;
  --color-success-2: #29823b;
  --color-success: #edfae1;
  --color-info-light: #e5f5fc;
  --color-info-2: #017aad;
  --color-info: #e9f5fe;
  --color-dark: rgb(38, 45, 58);
  --color-white: white;
}
