:root {
  --website-color-neutral-10: #0A141E;
  --website-color-neutral-9: #39414A;
  --website-color-neutral-8: #515860;
  --website-color-neutral-7: #222B34;
  --website-color-neutral-1: #DEDFE4;

  --header-size: 60px;
  --header-color: #ffffff;
  --color-background-body: #f3f6f8;
  --color-background-login: #ffffff;
  --header-size-content: 48px;
  --side-menu-size: 300px;
  --bottom-bar-size: 56px;
  --footer-height: 0px;
}