@mixin InputComponent() {
  display: block;
  width: 100%;
  color: #575757;
  background-image: none;
  background-color: #fff;
  border: 1px solid #e5e5ea;
  -webkit-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
  border-radius: 6px;
  padding: 7px 11px;
  font-size: 14px;
  line-height: 1.42857143;
  height: 36px;
}
