.Checkbox {
  width: 100%;
  font-size: .8rem;
  color: #9e9e9e;

  .Icon {
    position: absolute;
    left: 0;
    top: 0;
    margin: 7px;
    color: #26a69a;
    z-index: 1;
    opacity: 0;
  }

  > span {
    width: 100%;
    position: relative;
    padding-left: 27px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      margin: 4px;
      width: 16px;
      height: 16px;
      z-index: 0;
      -webkit-transition: .28s ease;
      transition: .28s ease;
    }

    &::before {
      border: 2px solid #5a5a5a;
    }

    &::after {
      border: 2px solid #5a5a5a;
      transform: scale(0);
    }
  }

  input {
    &:checked {
      position: absolute;
      opacity: 0;
      pointer-events: none;

      + span {
        .Icon {
          opacity: 1;
        }

        &::after {
          border: 2px solid #26a69a;
          background-color: #26ffeb;
          transform: scale(1.02);
          border-radius: var(--border-radius-soft);
        }

        &::before {
          border: 2px solid transparent;
          border-radius: 50%;
        }
      }
    }
  }
}

.Checked {
  position: relative;
}

.sm {
  > span {
    font-size: .8rem;

    &::before,
    &::after {
      width: 12px;
      height: 12px;
    }
  }

  .Icon {
    font-size: 10px;
  }
}

.xs {
  > span {
    font-size: .68rem;

    &::before,
    &::after {
      width: 10px;
      height: 10px;
    }
  }
}
