@import "../../sass/vars";
@import "../../sass/mixins/flex";

.ContainerGrid {
  width: 100%;
  padding-right: ($column-gap / 2);
  padding-left: ($column-gap / 2);
  margin-right: auto;
  margin-left: auto;

  @each $breakpoint, $width in $container-widths {
    @include device-up($breakpoint, $grid-breakpoints) {
      max-width: $width;
    }
  }
}
