.DatatableBody {
  background: var(--color-background);
  width: 100%;
  position: relative;
  height: 100%;
}

.Grid {
  display: grid;
  overflow: auto;
  flex: 1 1 0%;
}

.Clickable {
  cursor: pointer;
}
