.DatatableCellBody {
  background: var(--color-background);
  display: flex;
  height: 100%;
  align-items: center;
  border-bottom: var(--border);
  min-height: 48px;
}

.Checkbox {
  box-sizing: border-box;
  justify-content: center;
  background: var(--color-background);
  display: flex;
  align-items: center;
  margin: auto;
}

.Inner {
  margin: 0 20px;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
