.Datatable {
  height: 100%;
  padding: 20px;
  overflow: auto;
  flex: 1;
  margin: 0;
  @media (min-width: 1025px) {
    padding: 40px;
  }
}

.Wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 388px;
  border: var(--rgt-border);
}

.Shadow {
  box-shadow: rgba(0, 0, 0, .3) 0 40px 40px -20px;
  border: none;
}
