.DatatableHeader {
  display: flex;
  width: 100%;
  background: var(--color-background);
  align-items: center;
  justify-content: space-between;
  border: var(--border);

  .InputGroup {
    border: 0;

    &:hover {
      outline: none;
      border: 0;
    }
  }
}

.IconLabel {
  margin-left: var(--space-xs);
}

.InputAddon {
  border: var(--border-size-none);
  border-radius: var(--border-radius-none);
  outline: none;
  background: none;
}
