.DrawerHeader {
  position: relative;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Close {
  outline: 0;
  font-size: 12px;
  line-height: 1.66666667;
  color: #575757;
  width: 20px;
  padding: 0 8px/2;
  background: none;
  border-style: none;
}

.Dark {
  background-color: var(--color-dark);

  .Close, & {
    color: var(--color-white);
  }
}
