.DropdownMenu {
  margin: 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #292d33;
  border-radius: 6px;
  padding: 6px 0;
  display: flex;
  flex-direction: column;
  width: max-content;
}

.IsMenu {
  position: absolute;
  z-index: 6;
  display: none;
  float: left;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2), 0 4px 4px 3px rgba(0, 0, 0, .24);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .2), 0 4px 4px 3px rgba(0, 0, 0, .24);
}

.top-start {
  bottom: 100%;
  left: 0;
}

.bottom-start {
  left: 0;
  top: 100%;
}

.top-right {
  left: 100%;
  top: 0;
}

.right-start {
  bottom: 0;
  left: 100%;
}

.left-bottom {
  top: 100%;
  right: 0;
}

.DropdownVertical {
  position: static;
  box-shadow: none;
  background-color: transparent;

  svg {
    margin: 0;
  }
}

.ExpandedMobile {
  top: 0;
  position: absolute;
}
