.Dropdown {
  position: relative;
}

.Icon {
  margin-left: 10px;
}

.IconHeader {
  margin-right: 10px;
}

.Content {
  display: inline-flex;
}

.Button {
  min-height: 36px;
  border: 0;
  border-radius: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Disabled {
  opacity: .3;
  user-select: none;
  pointer-events: none;
  cursor: not-allowed;
}

.NavVertical {
  width: 100%;

  .Button {
    width: 100%;
    text-align: left;
    z-index: 0;

    svg {
      &:first-child {
        margin: 0 var(--space-s) 0 0;
      }

      &:last-child {
        margin: 0 0 0 auto;
      }
    }
  }

  .Content {
    flex-direction: column;
    display: flex;
    width: 100%;
    position: initial;
  }
}

.Dropdown .Show {
  display: flex;
}

.Navbar {
  .Button {
    padding: 18px 16px;
    height: 56px;
    min-width: 56px;
  }
}

.NoExpanded {
  .Button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;

    & svg[role="img"] {
      margin-right: 0;
    }

    svg:last-child,
    span {
      display: none;
    }
  }
}

.Initial {
  .ClassMenu {
    width: 100%;
  }
}
