.Dropdown {
  position: relative;
}

.Icon {
  margin-left: 10px;
}


.Content {
  display: inline-flex;
}

.Disabled {
  opacity: .3;
  user-select: none;
  pointer-events: none;
  cursor: not-allowed;
}

.NavVertical {
  width: 100%;

  .Button {
    width: 100%;
    text-align: left;
    z-index: 0;

    svg {
      &:first-child {
        margin: 0 var(--space-s) 0 0;
      }

      &:last-child {
        margin: 0 0 0 auto;
      }
    }
  }

  .Content {
    flex-direction: column;
    display: flex;
    width: 100%;
    position: initial;
  }
}

.Dropdown .Show {
  display: flex;
}