.Dropdown {
  position: relative;
}

.Icon {
  margin-left: 10px;
}

.Dropdown .Show {
  display: flex;
}

.Content {
  display: inline-flex;
}

.Disabled {
  opacity: .3;
  user-select: none;
  pointer-events: none;
  cursor: not-allowed;
}