@import "../mixins/flex";

.Avatar {
  background-color: #d9d9d9;
  color: #fff;
  @include flex(true);
  border-radius: var(--border-radius-soft);
  overflow: hidden;
  width: 40px;
  height: 40px;
  font-size: var(--font-size-h6);
}

.Circle {
  border-radius: var(--border-radius-circle);
}

.lg {
  width: 60px;
  height: 60px;
  font-size: 26px;
}

.sm {
  width: 30px;
  height: 30px;
  font-size: 14px;
}

.xs {
  width: 20px;
  height: 20px;
  font-size: 12px;
}