.Footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.Preview {
  line-height: 56px;
  color: #fff;
  background: #59d0ff;
  text-align: center;
}

.Page {
  padding: 10px 20px;
  color: white;
}