.Input {
  display: block;
  width: 100%;
  color: #575757;
  background-image: none;
  background-color: #fff;
  border: 1px solid #e5e5ea;
  -webkit-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
  border-radius: 6px;
  padding: 7px 11px;
  font-size: 14px;
  line-height: 1.42857143;
  height: 36px;

  &:hover {
    border-color: #1675e0;
    outline: 0;
  }

  &.Dark {
    display: block;
    width: 100%;
    color: #fff;
    background-color: #1a1d24;
    background-image: none;
    border: 1px solid #3c3f43;
    -webkit-transition: border-color .3s ease-in-out;
    transition: border-color .3s ease-in-out;
    border-radius: 6px;
    font-size: 14px;
    line-height: 1.42857143;
    min-width: 200px;
    padding: 7px 36px 7px 11px;
  }
}

.lg {
  padding: 9px 11px;
  font-size: 16px;
  line-height: 1.375;
  height: 42px;
}

.sm {
  padding: 4px 11px;
  font-size: 14px;
  line-height: 1.42857143;
  height: 30px;
}

.xs {
  padding: 1px 11px;
  font-size: 12px;
  line-height: 1.66666667;
  height: 24px;
}
