@import "../mixins/text";

.ItemBox {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #fff;
  cursor: pointer;
  -webkit-transition: color .3s linear, background-color .3s linear;
  transition: color .3s linear, background-color .3s linear;
  text-decoration: none;
  width: 100%;
  @include TextEllipsis;
  border-radius: var(--border-radius-soft);
  justify-content: space-between;

  &:hover {
    color: #fff;
    background-color: #3c3f43;
    text-decoration: none;
  }

  &.default {
    background-color: #fff;
    border: 1px solid #e5e5ea;
    color: #575757;
  }

  &.dark {
    border: 1px solid #3c3f43;
    background: #1a1d24;
    color: #fff;
  }
}
