.ModalHeader {
  padding-right: 20px;
}

.Close {
  outline: 0;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  line-height: 1.66666667;
  color: #e9ebf0;
  padding: 0 8px/2;
  background: none;
  border-style: none;
}