.ModalDialog {
  display: none;
  overflow: visible;
  outline: 0;
  position: relative;
  width: auto;
  margin: 30px auto 0;
  z-index: 1050;
}

.sm {
  max-width: 600px;
}

.xs {
  max-width: 500px;
}

.md {
  max-width: 700px;
}

.lg {
  max-width: 800px;
}

.Show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Content {
  position: relative;
  background-color: #292d33;
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, .6);
  box-shadow: 0 4px 4px rgba(0, 0, 0, .12), 0 0 10px rgba(0, 0, 0, .6);
  padding: 20px;
  width: 100%;
  flex: 1;

  p, div {
    color: white;
  }
}

.initial {
  width: fit-content;
}
