.ModalDialog {
  display: none;
  overflow: visible;
  outline: 0;
  margin: 30px auto 0;
  position: relative;
  width: auto;
  z-index: 1050;
}

.sm {
  width: 600px;
}

.Show {
  display: block;
}

.Content {
  position: relative;
  background-color: #292d33;
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 0 10px rgba(0, 0, 0, .6);
  box-shadow: 0 4px 4px rgba(0, 0, 0, .12), 0 0 10px rgba(0, 0, 0, .6);
  padding: 20px;
}