.Nav {
  ul {
    display: flex;
  }
}

.tabs {
  position: relative;
}

.subtle {

}

.Vertical {
  ul {
    display: inline-flex;
    flex-direction: column;
  }
}

.Block {
  ul {
    display: flex;
    width: 100%;
  }
}