.Overlay {
  position: fixed;
  overflow: auto;
  z-index: 1050;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: unset;
  transition: opacity .3s ease-in;
  opacity: 0;
  display: none;
}

.Show {
  display: block;
  opacity: 1;
  background-color: rgba(15, 19, 26, 0.5);
}