.Panel {
  border-radius: 6px;
  overflow: hidden;
  color: #e9ebf0;
  position: relative;
}

.Header {
  color: black;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    flex: 1;
  }
}

.Body,
.Header {
  padding: 20px;
  color: black;
}

.Body {
  padding-top: 10px;
}

.Header {
  padding-bottom: 10px;
}

.Bordered {
  border: 1px solid #3c3f43;
}

.Shaded {
  box-shadow: 0 4px 4px -10px rgba(0, 0, 0, .12), 0 0 10px -5px rgba(0, 0, 0, .6)
}

.NoHeader {
  > .Body {
    padding: 20px;
  }
}

.BodyFill {
  > .Body {
    padding: 0 !important;
  }
}

.Hide {
  .Header {
    padding-bottom: 20px;
  }

  > .Body {
    display: none;
  }
}

.Show {
  > .Body {
    display: block;
  }
}

.Collapsible {
  .Header {
    &:hover {
      cursor: pointer;
    }
  }
}

.Card {
  background: white;
  box-shadow: 0 2px 10px -13px rgba(0, 0, 0, .7);

  div, p {
    color: var(--color-dark);
  }
}
