@import "../mixins/components";

.SelectPicker {
  display: inline-flex;
  flex-direction: column;
  position: relative;

  .Button {
    @include InputComponent;
    display: flex;
    justify-content: space-between;
  }

  .Icon {
    margin-left: var(--space-base);
  }

  .SearchBar {
    position: relative;
    margin: 6px 12px 12px;
  }

  .RightIcon {
    margin-left: var(--space-l);
  }

  &.Block {
    display: flex;

    .Button {
      justify-content: space-between;
    }
  }
}
