.SelectPicker {
  display: inline-flex;
  flex-direction: column;
  position: relative;

  .Button {
    background: #1a1d24;
    color: #a4a9b3;
    border: 1px solid #3c3f43;
  }

  .Icon {
    margin-left: var(--space-base);
  }

  .SearchBar {
    position: relative;
    margin: 6px 12px 12px;
  }
}
