.Stat {
  width: 100%;
}

.Price {
  text-align: right;
  margin-bottom: var(--space-xs);
}

.Center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
