.TitleDescription {
  text-align: left;
}

.Title {
  font-size: var(--font-size-s);
}

.Description {
  font-size: var(--font-size-xs);
  color: var(--color-neutral-6);
}

.Center {
  .Title {
    color: var(--color-primary)
  }

  .Description {
    margin: 0;
  }
}
